/* Tailwind Import */
@import "tailwindcss";

/* Custom Fonts (API import @index.html) */
@theme {
  --font-satoshi: "Satoshi", sans-serif;
  --font-cabinet: "Cabinet Grotesk", sans-serif;
}

/* Custom Font Sizes */
@theme {
  --text-h1: 3.5rem;
  --text-h2: 2.125rem;
  --text-h3: 1.5rem;
  --text-p: 1.25rem;

  --color-primary: #ffffff;
  --color-secondary: #50c878;
  --color-tertiary: #868686;

  --gradient-text: linear-gradient(90deg, #b8b8b8 0%, #e6e6e6 50%, #b8b8b8 100%);
}

.text-gradient {
  background: var(--gradient-text);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

/* Default Body Styles */
body {
  height: 100vh;
  overflow-y: hidden;
  background: linear-gradient(30deg, #000 40%, #3a3a3a 100%);
  background-repeat: no-repeat;
  color: #fff;
  margin: 0;
  padding: 0;
}
